<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Project Athlete 360</title>
  <link rel="stylesheet" href="/assets/css/overrides.css">
</head>
<body>
  <!-- Header -->
  <header>
{% if page.url == "/" %}
  <h1><a href="/">Project Athlete 360</a></h1>
{% endif %}
    <nav>
      <a href="/">Home</a> |
      <a href="/blog/">Blog</a> |
      <a href="/mission/">Mission</a>
    </nav>
  </header>

  <!-- Page Content -->
  <main>
    {{ content }}
  </main>

  <!-- Footer -->
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} Project Athlete 360</p>
  </footer>
</body>
</html>
